
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* <-- CSS RESET */



$checkbox-size :30px;



body{
    background-color: #f5f3f1;

}

form {

    width:100%;
    min-width:320px;
    margin:100px auto 0;
    display:flex;
    flex-direction: column;
    font-family: 'Shippori Antique', sans-serif;
    font-weight: bold;
    color:rgba(61, 54, 54, 0.966);

    h1{
        text-align: center;
        font-size:3.2rem;
        margin-bottom:20px;
    }

    div {
        padding:10px; 
       
    }
    input,
    button,
    label,
    select {
        display: block;
        margin: 10px auto;
        width:90%;
        font-size:1.2rem; 
        background-color: #f5f3f1;
    }
    input[type="checkbox"] {
        position: relative;
        left:5vw;
        height:$checkbox-size;
        width:$checkbox-size;
        margin:20px 0 0;
        background-color: #f5f3f1;
    }
    input[type="file"]{
        position: relative;
        left:2vw;
    }
    input[type="text"],
    input[type="email"]{
        padding:5px;
        //box-shadow: 1px 1px 1px 1px rgba(61, 54, 54, 0.966);
    }
    button {
        padding:10px 0;
        border:4px solid rgba(61, 54, 54, 0.966);
        border-radius: 10px;
        font-size:2rem;
        font-weight: bold;
    }
    button:hover{
        background: rgba(61, 54, 54, 0.966);
        color: #f5f3f1;
    }
}

 /* <-- THURSDAY --> */
form div.file {
    position: relative;
    width:90%;
    min-height:50px;
    border:1px solid black;
    background-color: chocolate;
    margin:20px auto;
    padding-bottom:20px;
    
    &::after {
        content:"Kattints vagy húzd ide a file-t";
        display:block;
        color:white;
        opacity: 0.65;
        font-size:1.1rem;
        padding:20px;
        text-align:center;
        
    }

    input[type="file"] {
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        z-index:5;
        opacity: 0;
    }
    label {
        color:white;
        background:none;
        text-align: center;
        
    }
}

#inputValueContent {
    display:block;
    width:100%;
    height:200px;
    img{

       width:100%;
       height:100%;
    object-fit: contain;
    }
}

@media screen and (min-width: 1201px) {

    form{
        width:60%;
    }

    input,
    button,
    label,
    select {
        font-size:1.8rem !important;
    }
  }

@media only screen and (max-width: 1200px) and (min-width: 601px) {

    form{
        width:80%;
    }

    input,
    button,
    label,
    select {
        font-size:1.5rem !important;
    }
}

@media only screen and (max-width: 600px) {

    form{
        width:100%; 
    }

    input,
    button,
    label,
    select {
        font-size: 1.2rem !important;
    }
}